[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11
[submodule "src/realcugan-ncnn-vulkan"]
	path = src/realcugan-ncnn-vulkan
	url = https://github.com/nihui/realcugan-ncnn-vulkan
