[submodule "realcugan_ncnn_vulkan_python/pybind11"]
	path = realcugan_ncnn_vulkan_python/pybind11
	url = https://github.com/pybind/pybind11
[submodule "realcugan_ncnn_vulkan_python/realcugan-ncnn-vulkan"]
	path = realcugan_ncnn_vulkan_python/realcugan-ncnn-vulkan
	url = https://github.com/nihui/realcugan-ncnn-vulkan
